.navBar {
	border-bottom: solid 1px #fff;
	position: fixed;
	width: 100dvw;
	height: 40px;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		height: 100%;

		li {
			list-style: none;
			cursor: pointer;
		}
	}
}
