.loginModal {
	display: flex;
	flex-direction: column;

	.exitBtn {
		color: #FF0000FF;
		background-color: #ffffff;
		border-radius: 5px;
		height: 30px;
		width: 30px;
		font-weight: bolder;
		align-self: flex-end;
	}

	.loginForm {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;

		section {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		button {
			width: 50%;
		}
	}
}
