.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

	section {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	button {
		width: 50%;
	}
}
